.scoreboard-wrapper{
    background-color: lightslategray;
    display:flex;
    flex-direction: column;
}
.game-btn {
    text-align: center;
    margin-bottom: 1rem;
}

.random-btn {
    width:100px;
    height:40px;
    margin-right: 1rem;
    background-color: black;
    color: white;
    border-radius: 8px;
}

.random-btn:hover {
    background-color: darkgray;
}

.strike-btn {
    width:100px;
    height:40px;
    margin-left: 1rem;
    background-color: black;
    color: white;
    border-radius: 8px;
}

.strike-btn:hover {
    background-color: darkgray;
}
.select-game {
    text-align: center;
    margin:1rem;
}

.reGame {
    text-align: center;
    margin-right: 2rem;
    border-radius: 4px;
}

.reGame:hover {
    color: white;
}

.exit {
    text-align: center;
    border-radius: 4px;
    font-size:18px;
}

.sd {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.exit:hover {
   color: white;
}

.exit:link {
    text-decoration: none;
}
